@media (max-height: 850px) {
  body{
    font-size: 12.5px;
  }
}
body {
  overflow: hidden;
  margin: 0em;
  background-color: #F2F2F2;
}

.main {
  width: 58em;
  height: 60.5em;
  margin: 0 auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #5682a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header div:hover {
  background-color: #688aa0;
}

.main_telegram {
  height: 40em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text_title {
  font-size: 0.9em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  font-weight: bold;
  width: 5em;
  display: block;
  margin-top: 1.2em;
  margin-left: 1em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.members_column {
  margin-top: 1.2em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  font-size: 1em;
  color: #B9CFE3;
  margin-left: 1em;
}

.header_telegram {
  padding-bottom: 0em;
  padding-top: 0em;
  width: 18.3em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header_chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 34em;
  height: 3em;
}

.chats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15.6em;
  -webkit-box-shadow: inset -2px 0 0 #F2F2F2;
          box-shadow: inset -2px 0 0 #F2F2F2;
  width: 19.5em;
  height: 58em;
}

::-webkit-scrollbar {
  width: 0.16em;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.all_chats_message {
  display: block;
  height: 71.25em;
  overflow-y: hidden;
  overflow-x: hidden;
}

.all_chats_message div:hover {
  background-color: #B9CFE3;
}

.all_chats_message div:hover .count_messag {
  background-color: #888;
}

.icons {
  height: 1.16em;
  width: 5.16em;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 1em;
  background-image: url(https://web.telegram.org/img/Telegram.svg);
}

.all_chats_message:hover {
  overflow-y: auto;
  margin-right: -2px;
}

.masseg {
  height: 3.16em;
  width: 25.83em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chat_title_active {
  font-weight: bold;
  color: white;
  font-size: 0.8em;
  font-style: inherit;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
}

.messag_active {
  height: 3.16em;
  width: 25.83em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #5682a3;
}

.chat_text {
  padding-top: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.chat_stat {
  padding-top: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: 0.7em;
}

.messages {
  width: 40em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 10em);
}

.chat_title {
  font-weight: bold;
  color: black;
  font-size: 0.8em;
  font-style: inherit;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
}

.name_messeger {
  color: blue;
  font-size: 0.8em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
}

.name_messeger_active {
  color: white;
  font-size: 0.8em;;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
}

.text_messeg {
  font-size: 0.8em;;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_messeg_active {
  color: white;
  font-size: 0.8em;;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name_text_messeg {
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search {
  padding: 0.7em;
  width: 25em;
  height: 3.16em;
}

.input_search {
  padding-left: 0.7em;
  padding-right: 0.7em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  width: 22em;
  height: 2.16em;
  background: #F2F2F2;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  font-size: 0.76em;
  float: left;
  color: black;
  border-radius: 0.5em;
}

.searchview {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search_header {
  height: 3em;
  width: 3.5em;
}

.dots {
  height: 3em;
  width: 3.5em;
}

.burger_menu {
  margin-top: 0.7em;
  margin-left: 1.5em;
  margin-right: 2em;
}

.image {
  display: block;
  margin-top: 0.7em;
  margin-left: auto;
  margin-right: auto;
}

.chat_image {
  height: 2.8em;
  width: 2.8em;
  margin: 0.4em;
  border-radius: 7em;
  margin-left: 0.7em;
}

.time_massege {
  font-size: 1em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
}

.time_massege_active {
  color: white;
  font-size: 1em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
}

.count_messag {
  height: 1.8em;
  width: 1.8em;
  border-radius: 3.16em 3.16em 3.16em 3.16em;
  background-color: #888;
  text-align: center;
}

.text_count_masseg {
  height: 1.8em;
  width: 1.8em;
  color: white;
  font-size: 1em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
}

.messages_box {
  height: 9.5em;
  width: 49em;
  margin-top: auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.group_chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60em;
  width: 40em;
}

.send_message_image_you_photo {
  margin-top: 0.7em;
  height: 3.3em;
  width: 3.3em;
  border-radius: 7.3em;
  display: block;
  margin-left: auto;
  margin-right: 1.2em;
}

.send_message_image_photo_chats {
  margin-top: 0.7em;
  height: 3.3em;
  width: 3.3em;
  border-radius: 7.3em;
  display: block;
  margin-left: 0em;
  margin-right: auto;
}

.message_image {
  width: 8em;
}

.input_box {
  width: 22em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: outset;
  border-width: 0em 0em 0.08em 0em;
  border-color: cyan;
}

.send_message_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21em;
  height: 3.8em;
  border: none;
  font-size: 1em;
  outline: none;
}

.smile_and_send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 1.5em;
  width: 24em;
}

.send_icon {
  height: 2em;
  width: 2em;
  margin: 0.5em;
}

.slah_icon {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.button_send {
  color: blue;
  height: 1em;
  width: 2em;
  font-size: 1em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  margin: 0.7em;
}

.emo {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  margin-top: 0.7em;
}

.emo1 {
  height: 1.5em;
  width: 1.5em;
  margin-left: 2em;
  margin-right: 0.5em;
  margin-top: 0.7em;
}

.mess {
  margin-left: 7.3em;
  margin-right: 7.3em;
  margin-top: auto;
  margin-bottom: 0em;
  height: 6.3em;
  width: 29em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mess_photo {
  margin-left: 7.3em;
  margin-right: 7.3em;
  margin-top: auto;
  margin-bottom: 0em;
  height: 14em;
  width: 29em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.input_photo {
  height: 19em;
  width: 15em;
}

.photo_sender {
  height: 2.5em;
  width: 2.5em;
  border-radius: 7.3em;
  display: block;
}

.name_sender {
  font-weight: bolder;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  color: #3a6d99;
  font-size: 0.8em;
}

.main_messag {
  margin-left: 0.7;
  width: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.time_m_s {
  color: #ADADAD;
  font-size: 0.7em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  margin-right: 7.3em;
  margin-left: auto;
}

.text_messags {
  font-size: 0.9em;
  font-family: Tahoma,sans-serif,Arial,Helvetica;
  color: #000000;
}

.audio {
  border: none;
  height: 1.5em;
}
/*# sourceMappingURL=style.css.map */